@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+Pro:wght@300;400&display=swap");

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.centre-image {
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.youtube {
  display: block;
  margin: 0 auto;
}

.image-caption {
  text-align: center;
}

.header-photo {
  display: block;
  width: auto;
  height: auto;
  max-height: 240px;
  margin: 20px;
}

.stan-header {
  display: block;
  width: auto;
  height: auto;
  max-height: 150px;
  margin: 40px;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #0f1b07;
}

@media (max-width: 600px) {
  .home-header {
    flex-direction: column;
  }
}

.header-titles {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body-text {
  margin-top: 30px;
  margin-right: 20%;
  margin-left: 20%;
}

@media (max-width: 600px) {
  .body-text {
    margin-right: 10%;
    margin-left: 10%;
  }
}
