@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+Pro:wght@300;400&display=swap");

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.centre-image {
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
}

.image-caption {
  text-align: center;
}

.header-photo {
  display: block;
  width: auto;
  height: auto;
  max-height: 240px;
  margin: 20px;
}

.stan-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #0f1b07;
}

@media (max-width: 600px) {
  .home-header {
    flex-direction: column;
  }
}

.header-titles {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body-text {
  margin-top: 30px;
  margin-right: 20%;
  margin-left: 20%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.memory-generator-img {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: block;
}

.memory-generator-body {
  text-align: center;
}

@media (max-width: 600px) {
  .body-text {
    margin-right: 10%;
    margin-left: 10%;
  }
  .header-photo {
    margin-right: 10%;
    margin-left: 10%;
  }
  .centre-image {
    max-width: 300px;
  }
  .iframe-youtube {
    max-width: 300px;
  }
}
