body {
  background-color: white;
}

h1 {
  color: black;
}

.whiteboard-photo {
  display: block;
  width: auto;
  height: auto;
  max-height: 280px;
  margin: 20px;
}

.home-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
}

@media (max-width: 600px) {
  .home-header {
    flex-direction: column;
  }
}

.header-titles {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body-text {
  margin-top: 30px;
  margin-right: 20%;
  margin-left: 20%;
}

@media (max-width: 600px) {
  .body-text {
    margin-right: 10%;
    margin-left: 10%;
  }
}
